@import '../mixins';
@import '../variables';

.login {
  display: grid;
  place-items: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  &__logo {
    display: flex;
    flex-direction: column;
    justify-content: center;

    & > h2 {
      font-size: 2.8rem;
      width: 70%;
      font-weight: normal;
    }

    & > img {
      width: 30rem;
      object-fit: contain;
      height: 10rem;
      margin-left: -3.4rem;
    }

    &__button {
      width: 30rem !important;
      background-color: $blue !important;
      color: $lightGray !important;
      font-weight: 800 !important;
      font-size: 1.5rem !important;
      text-transform: capitalize !important;
      transition: 0.2s ease-in-out;

      &:hover {
        color: $blue !important;
        background-color: $white !important;
      }
    }
  }

  &__form__container {
    background-color: $white;
    padding: 2rem;
    width: 40rem;
    box-shadow: 0 2px 4px rgba($black, 0.1), 0 8px 16px rgba($black, 0.1);
  }

  &__form {
    display: flex;
    flex-direction: column;

    & > input {
      margin-bottom: 2rem;
      padding: 2rem;
      border-radius: 0.4rem;
      border: 1px solid $border-color;
      font-size: 1.7rem;

      &:focus {
        outline: none;
        border: 1px solid $blue;
      }
    }
  }
}
