@import '../mixins';
@import '../variables';

.accountDropDown {
  background-color: #fff;
  padding: 1rem;
  max-height: 45.5rem;
  max-width: 36rem;
  width: 36rem;
  border-radius: 0.8rem;
  // box-shadow: rgba($black, 0.2) 0rem 1.2rem 2.8rem 0rem, rgba($black, 0.1) 0rem 0.2rem 0.4rem 0rem,
  //   rgba($white, 0.5) 0rem 0rem 0rem 0.1rem inset;

  &__line {
    border: none;
    border-bottom: 1px solid rgba($black, 0.2);
    margin: 0 1rem 0.7rem 1rem;
  }

  &__header {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    border-radius: 0.8rem;
    padding: 1rem 1rem;

    &__settings__text {
      font-size: 2.2rem !important;
    }

    &:hover {
      background-color: $lightGray;
    }

    &__back__icon__container {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 1rem;
      border-radius: 50%;
      transition: 0.2s ease-in-out;
      height: 3.6rem;
      max-height: 3.6rem;
      width: 3.6rem;
      max-width: 3.6rem;
      cursor: pointer;

      &:hover {
        background-color: #e4e6eb;
      }
    }

    &__settings {
      cursor: default;
      background-color: #fff;
      display: flex;
      align-items: center;

      &:hover {
        background-color: #fff;
      }
    }

    &__back__icon {
      font-size: 2.3rem !important;
    }

    &__avatar {
      height: 6rem !important;
      max-width: 6rem !important;
      width: 6rem !important;
      max-height: 6rem !important;
      margin-right: 1rem;
    }

    &__content {
      & > h4 {
        color: #050505;
        font-size: 1.7rem;
      }

      & > p {
        color: #65676b;
        font-size: 1.5rem;
      }
    }
  }

  &__row {
    position: relative;
    width: 100%;
    padding: 1rem 1rem;
    transition: 0.2s ease-in-out;
    background-color: #fff;
    border-radius: 0.8rem;
    margin-bottom: 0.7rem;
    cursor: pointer;
    display: flex;
    align-items: center;

    &__secondary {
      margin-bottom: 0.1rem;
    }

    &:hover {
      background-color: #f2f2f2;
    }

    &__icon__container {
      height: 3.6rem !important;
      max-width: 3.6rem !important;
      width: 3.6rem !important;
      max-height: 3.6rem !important;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 1rem;
      border-radius: 50%;
      background-color: #e4e6eb;
    }

    &__icon {
      font-size: 2rem !important;
      color: #1c1e21 !important;

      &__darkmode {
        transform: rotate(180deg);
      }
    }

    &__content {
      & > h4 {
        color: #050505;
        font-size: 1.5rem;
      }

      & > p {
        color: #65676b;
        font-size: 1.3rem;
      }

      &__secondary {
        display: flex;
        align-items: center;
      }

      &__arrow {
        position: absolute;
        right: 1rem;
        color: #7b8188 !important;
        font-size: 2rem !important;
      }
    }
  }

  &__footer {
    padding: 0 1rem 0 1rem;
    cursor: pointer;
    & > p {
      color: #65676b;
      font-size: 1.3rem;
    }
  }
}
.accountDropDown__wrapper {
  overflow: hidden;
  max-width: 36rem !important;
  width: 36rem !important;
  max-height: 45.5rem;
  top: 5rem;
  right: 2rem;
  position: absolute;
  transition: height 0.3s ease;
}

.menu-primary-enter {
  position: absolute;
  transform: translateX(-100%);
}
.menu-primary-enter-active {
  transform: translateX(0%);
  transition: all 0.3s ease;
}
.menu-primary-exit {
  position: absolute;
}
.menu-primary-exit-active {
  transform: translateX(-100%);
  transition: all 0.3s ease;
}

.menu-settings-enter {
  transform: translateX(100%);
}
.menu-settings-enter-active {
  transform: translateX(0%);
  transition: 0.3s ease;
}

.menu-settings-exit {
}
.menu-settings-exit-active {
  transform: translateX(100%);
  transition: all 0.3s ease;
}
