@import '../mixins';
@import '../variables';

.createDropDown {
  background-color: #fff;
  position: absolute;
  padding: 1rem;
  top: 6rem;
  right: 2rem;
  max-height: 41.2rem;
  max-width: 36rem;
  width: 36rem;
  border-radius: 0.8rem;
  box-shadow: rgba($black, 0.2) 0rem 1.2rem 2.8rem 0rem, rgba($black, 0.1) 0rem 0.2rem 0.4rem 0rem,
    rgba($white, 0.5) 0rem 0rem 0rem 0.1rem inset;
  display: none;

  &__option {
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 1rem;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    padding-left: 1rem;

    &:hover {
      background-color: $lightGray;
    }

    &__icon__container {
      background-color: darken($lightGray, 4);
      border-radius: 50%;
      height: 3.6rem;
      max-height: 3.6rem;
      max-width: 3.6rem;
      width: 3.6rem;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 1.5rem;
      pointer-events: none;
    }
    &__icon {
      color: darken(gray, 15) !important;
      font-size: 2.2rem !important;
      pointer-events: none;
    }

    &__text {
      pointer-events: none;
      & > h5 {
        font-size: 1.5rem;
        margin-bottom: 0.3rem;
        color: #050505;
      }

      & > p {
        font-size: 1.3rem;
        color: #65676b;
      }
    }
  }

  &__container {
    & > h4 {
      font-size: 2.4rem;
      font-weight: 700;
      margin-bottom: 1rem;
      padding-left: 1rem;
      font-family: 'Segoe UI';
    }
  }

  &__line {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: none;
    border-bottom: 1px solid rgba($black, 0.3);
  }
}

.createDropDown__Open {
  display: block !important;
}
