@import '../mixins';
@import '../variables';

.errorNotification {
  position: absolute;
  padding: 1.5rem;
  border-radius: 0.3rem;
  font-size: 1.3rem;
  right: 43rem;
  color: $white;
  background-color: $error;
  width: fit-content;
  height: fit-content;
  box-shadow: 0 0 0 1px rgba(139, 3, 0, 0.75), 0 1px 10px rgba(0, 0, 0, 0.35);
  pointer-events: none;
  display: none;

  &__arrow {
    color: $error !important;
    position: absolute;
    top: 0.4%;
    right: -3rem;
    font-size: 5rem !important;
  }
}

.errorNotification__lastName {
  right: 8rem;
  top: 16.5rem;
  z-index: 2;

  & > .MuiSvgIcon-root {
    color: $error !important;
    transform: rotate(-90deg);
    top: -3rem;
    right: 9rem;
  }
}

.errorNotification__email {
  right: 43rem;
  top: 16rem;
  z-index: 2;
  width: 33rem;
  display: none;

  & > .MuiSvgIcon-root {
    color: $error !important;
    top: -5%;
    right: -3rem;
  }
}

.errorNotification__password {
  right: 43rem;
  top: 20.5rem;
  z-index: 2;
  width: 33rem;
  padding: 1.3rem;

  & > .MuiSvgIcon-root {
    color: $error !important;
    top: -5%;
    right: -3rem;
  }
}

.errorNotification__birthday {
  right: 43rem;
  top: 27.3rem;
  z-index: 2;
  width: 33rem;
  padding: 1.3rem;

  & > .MuiSvgIcon-root {
    color: $error !important;
    top: -5%;
    right: -3rem;
  }
}

.errorNotification__birthday {
  right: 43rem;
  top: 27.3rem;
  z-index: 2;
  width: 33rem;
  padding: 1.3rem;

  & > .MuiSvgIcon-root {
    color: $error !important;
    top: -5%;
    right: -3rem;
  }
}

.errorNotification__gender {
  right: 43rem;
  top: 34.3rem;
  z-index: 2;
  width: 33rem;
  padding: 1.3rem;

  & > .MuiSvgIcon-root {
    color: $error !important;
    top: -5%;
    right: -3rem;
  }
}

.errorNotification__pronoun {
  right: 43rem;
  top: 39.5rem;
  z-index: 2;
  width: fit-content;
  padding: 1.3rem;

  & > .MuiSvgIcon-root {
    color: $error !important;
    top: -5%;
    right: -3rem;
  }
}
