@import '../mixins';
@import '../variables';

.feed {
  flex: 1;
  padding: 2rem 20rem 3rem 17rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
