@import '../mixins';
@import '../variables';

.footer {
  background-color: $white;
  margin: auto;
  padding-top: 2rem;

  &__container {
    margin: auto;
    max-width: 100rem;
    color: #737373;

    & > p {
      padding-top: 1rem;
      font-size: 1.1rem;
      color: #737373;
    }
  }

  &__line {
    border: none;
    border-bottom: 1px solid #737373;
    opacity: 0.4;
    margin-bottom: 0.7rem;
  }

  &__list {
    display: flex;
    align-items: center;
    margin-bottom: 0.7rem;

    & > li {
      margin-right: 1rem;
      font-size: 1.2rem;

      &:hover {
        text-decoration: underline;
        cursor: pointer;
      }
    }

    &__button {
      padding: 0.05rem;
      cursor: pointer;
      width: 3rem;
      border: 1px solid rgba($footer-grey, 0.5);
    }

    &__icon {
      color: #4b4f56;
    }
  }

  &__error__container {
    color: $error-blue !important ;
  }

  &__login__container {
    padding-top: 5rem !important;
  }

  &__forgot__container {
    color: $error-blue !important ;
    padding-top: 20rem !important;
  }
}
