@import '../mixins';
@import '../variables';

.forgotPasswordNavbar {
  background-image: linear-gradient(rgb(78, 105, 162), rgb(59, 89, 152) 50%);

  &__container {
    max-width: 100rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    color: $white;
    padding: 2.5rem;
  }

  &__logo {
    display: flex;
    align-items: center;

    & > a > img {
      height: 3.5rem;
      margin-right: 2rem;
    }
  }

  &__form {
    display: flex;
    align-items: center;

    & > button {
      color: #fff;
      border: none;
      transition: 0.2s ease-in-out;
      background-color: #4267b2;
      border: 1px solid darken(#4267b2, 20);
      padding: 0.35rem 0.5rem;
      cursor: pointer;
      transform: translateY(0.9rem);

      &:focus {
        outline: none;
      }

      &:hover {
        background-color: darken(#4267b2, 7);
      }
    }

    &__field {
      display: flex;
      flex-direction: column;

      & > label {
        font-size: 1.2rem;
        margin-bottom: 0.3rem;
      }

      & > input {
        width: 15rem;
        margin-right: 1rem;
        padding: 0.2rem;

        &:focus {
          outline: none;
        }
      }

      & > input:last-of-type {
        margin-right: 2rem;
      }
    }
  }
}
