@import '../mixins';
@import '../variables';

.forgotPasswordNavbar {
  background-image: linear-gradient(rgb(78, 105, 162), rgb(59, 89, 152) 50%);

  &__container {
    max-width: 100rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    color: $white;
    padding: 2.5rem;
  }

  &__logo {
    display: flex;
    align-items: center;

    & > a > img {
      height: 3.5rem;
      margin-right: 2rem;
    }
  }
}
