@import '../mixins';
@import '../variables';

.forgotPasswordBody {
  min-height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;

  &__line {
    border: none;
    border-bottom: 1px solid rgba($black, 0.2);
    margin-bottom: 1rem;
  }

  &__container {
    background-color: #fff;
    max-width: 55rem;
    padding: 2rem;
    margin: auto;
    min-width: 50rem;
    border: 1px solid rgba($black, 0.2);
    max-height: 20rem;
    height: 190rem;
    border-radius: 0.5rem;

    & > h3 {
      color: #162643;
      font-size: 1.6rem;
      margin-bottom: 1.2rem;
    }
  }

  &__form {
    &__field {
      padding: 0 5rem;
      margin-bottom: 3rem;

      & > p {
        color: #1c1e21;
        font-size: 1.2rem;
        margin-bottom: 0.5rem;
      }

      & > input {
        border: 1px solid rgba($black, 0.2);
        width: 70%;
        padding: 0.2rem;
        &:focus {
          outline: none;
        }
      }
    }
  }
}
