@import '../mixins';
@import '../variables';

.loginDropDown {
  box-shadow: 0 3px 8px rgba($black, 0.3);
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 26rem;
  padding: 2rem;
  background-color: #fff;
  top: 7rem;
  right: 45rem;
  border-radius: 0.5rem;
  display: none;

  &__arrow {
    position: absolute;
    color: $white !important;
    font-size: 5rem !important;
    top: -2.8rem;
    right: 2rem;
  }

  &__forgot {
    align-self: flex-end;
    color: $error-blue;
    font-size: 1.2rem;
    padding-top: 0.5rem;
    cursor: pointer;
    margin-bottom: 1rem;

    &:hover {
      text-decoration: underline;
    }
  }

  & > input {
    border: 1px solid rgb(211, 214, 219);
    padding: 0.5rem;
    font-size: 1.4rem;
    width: 100%;

    &:focus {
      outline: none;
    }
  }

  & > input:first-of-type {
    margin-bottom: 0.5rem;
  }

  &__label {
    align-self: flex-start;
    letter-spacing: 0.3px;
    color: #606770;
    font-size: 1.2rem;
    font-family: Arial, Arial, Helvetica, sans-serif;
    margin-bottom: 0.2rem;
  }

  &__question {
    color: #7f7f7f;
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }

  &__button {
    border: none;
    padding: 0.7rem;
    border-radius: 0.4rem;
    transition: 0.2s ease-in-out;
    cursor: pointer;
    color: $white;
    font-weight: 600;

    &__signup {
      background-color: #42b72a;
      width: 50%;

      &:hover {
        background-color: darken(#42b72a, 5);
      }
    }

    &__login {
      background-color: #4267b2;
      margin-bottom: 2.5rem;
      width: 100%;

      &:hover {
        background-color: darken(#4267b2, 5);
      }
    }
  }

  &__Open {
    display: flex !important;
  }
}
