@import '../mixins';
@import '../variables';

.loginFail {
  min-height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  &__logo {
    height: 8.5rem;
    width: 24rem;
    margin-bottom: 1rem;
  }

  &__form__container {
    border-radius: 0.6rem;
    background-color: #fff;
    max-width: 40rem;
    width: 40rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
    padding: 2rem 2rem 2.5rem 2rem;
  }

  &__form {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;

    & > h4 {
      color: #1c1e21;
      font-size: 1.8rem;
      margin-bottom: 2rem;
      font-weight: 600;
    }

    &__error {
      width: 100%;
      text-align: center;
      margin-bottom: 2rem;
      border: 1px solid #dd3c10;
      padding: 1rem 0;
      background-color: #ffebe8;

      & > h6 {
        font-size: 1.4rem;
        color: #333333;
      }

      & > p {
        font-size: 1.2rem;
        color: #1c1e21;
      }
    }

    & > input {
      width: 100%;
      margin-bottom: 1rem;
      padding: 1.5rem;
      border-radius: 0.6rem;
      border: 1px solid rgb(221, 223, 226);
      color: #1d2129;
      font-size: 1.7rem;

      &:focus {
        outline: none;
      }
    }

    & > input:last-of-type {
      margin-bottom: 1.5rem;
    }

    &__button {
      background-color: $button-blue;
      width: 100%;
      font-size: 2rem;
      border-radius: 0.6rem;
      font-weight: 600;
      padding: 1rem 0;
      color: $white;
      cursor: pointer;
      border: none;
      transition: 0.2s ease-in-out;
      margin-bottom: 1.5rem;

      &:hover {
        background-color: darken($button-blue, 3);
      }
    }

    &__text {
      color: $button-blue;
      cursor: pointer;
      font-size: 1.4rem;
      margin-bottom: 1rem;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__lines {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    margin-bottom: 2rem;
  }

  &__line {
    background-color: #96999e;
    height: 1px;
    width: 100%;
    opacity: 0.6;
  }

  &__line__text {
    color: #96999e;
    font-size: 1.2rem;
    margin: 0 1.5rem;
  }
}
