@import '../mixins';
@import '../variables';

.messengerDropDown {
  padding: 1rem;
  background-color: #fff;
  position: absolute;
  border-radius: 0.8rem;
  box-shadow: rgba($black, 0.2) 0rem 1.2rem 2.8rem 0rem, rgba($black, 0.1) 0rem 0.2rem 0.4rem 0rem,
    rgba($white, 0.5) 0rem 0rem 0rem 0.1rem inset;
  max-width: 36rem;
  width: 36rem;
  max-height: 100rem;
  height: 85rem;
  top: 10rem;
  right: 20rem;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    width: 0.8rem;
  }

  &::-webkit-scrollbar-track {
    background-color: #fff;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #bcc0c4;
    border-radius: 2rem;
  }

  &__header {
    padding-left: 0rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 1rem;
    margin-bottom: 0.4rem;

    & > h4 {
      font-size: 2.4rem;
      font-weight: 700;
      margin-bottom: 1rem;
      padding-left: 1rem;
      font-family: 'Segoe UI';
    }

    &__icon {
      font-size: 2.4rem !important;

      cursor: pointer;
      color: #5b626a !important;
    }

    &__icons {
      display: flex;
      align-items: center;
    }

    &__icon__container {
      margin-right: 0.5rem;
      border-radius: 100%;
      transition: 0.1s ease-in;
      height: 3.2rem;
      width: 3.2rem;
      max-height: 3.2rem;
      max-width: 3.2rem;
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover {
        background-color: darken($lightGray, 2);
      }

      &:hover > .tip {
        display: block;
        opacity: 1;
        top: 5rem;
      }
    }

    &__icon__container:nth-of-type(1):hover > .tip {
      left: 10rem;
    }
    &__icon__container:nth-of-type(2):hover > .tip {
      left: 18rem;
    }
    &__icon__container:nth-of-type(3):hover > .tip {
      left: 22rem;
    }
    &__icon__container:nth-of-type(4):hover > .tip {
      left: 26rem;
    }

    &__icon__container:last-of-type {
      margin-right: 0;
    }
  }

  &__search {
    width: 100%;
    background-color: #f0f2f5;
    border-radius: 999px;
    padding: 1rem;
    display: flex;
    align-items: center;
    margin-bottom: 1rem;

    &__icon {
      color: #6b7179 !important;
      font-size: 2.2rem !important;
      margin-right: 0.3rem;
    }

    &__input {
      padding: 0.2rem;
      flex: 1;
      border: none;
      font-size: 1.5rem;
      background-color: #f0f2f5;

      &:focus {
        outline: none;
      }
    }
  }
}
