@import '../mixins';
@import '../variables';

.messengerDropDown {
  padding: 1rem;
  background-color: #fff;
  position: absolute;
  border-radius: 0.8rem;
  box-shadow: rgba($black, 0.2) 0rem 1.2rem 2.8rem 0rem, rgba($black, 0.1) 0rem 0.2rem 0.4rem 0rem,
    rgba($white, 0.5) 0rem 0rem 0rem 0.1rem inset;
  max-width: 36rem;
  width: 36rem;
  max-height: 70rem;
  height: 50rem;
  top: 20rem;
  right: 20rem;

  &__container {
  }

  &__header {
    padding-left: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 1rem;

    &__icon {
    }

    &__icon__container {
    }
  }
}
