@import '../mixins';
@import '../variables';

.messengerDropDownUser {
  padding: 1rem 1rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  border-radius: 0.8rem;
  position: relative;

  &:hover {
    background-color: $lightGray;
  }

  &:hover > .messengerDropDownUser__options {
    display: flex;
  }

  &__options {
    position: absolute;
    right: 3rem;
    border-radius: 50%;
    height: 3.6rem;
    max-height: 3.6rem;
    max-width: 3.6rem;
    width: 3.6rem;
    border: 1px solid rgba($black, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    transition: 0.1s ease-in-out;
    display: none;

    &:hover {
      background-color: darken($lightGray, 2);
    }

    &__icon {
      font-size: 2rem !important;
      color: darken(gray, 20) !important;
    }
  }

  &__content {
    & > h5 {
      font-size: 1.5rem;
      font-weight: normal;
      font-family: 'Segoe UI';
      color: #050505;
    }

    & > p {
      font-size: 1.3rem;
      color: #65676b;
    }
  }

  &__avatar {
    height: 5.6rem !important;
    max-height: 5.6rem !important;
    width: 5.6rem !important;
    max-width: 5.6rem !important;
    margin-right: 1rem;
  }
}
