@import '../mixins';
@import '../variables';

.navbar {
  display: flex;
  align-items: center;

  &__left {
    & > img {
      height: 4rem;
    }
  }
  &__middle {
    &__option {
      &__icon {
        font-size: 2.5rem !important;
      }
    }
  }
  &__right {
  }
}
