@import '../mixins';
@import '../variables';

.postSender {
  display: flex;
  margin-top: 3rem;
  flex-direction: column;
  background-color: $white;
  border-radius: 1.5rem;
  box-shadow: $box-shadow;
  width: 100%;

  &__top {
    display: flex;
    border-bottom: 0.1rem solid $lightGray;
    padding: 1.5rem;

    &input {
      flex: 1;
    }

    & > form {
      flex: 1;
      display: flex;

      & > button {
        display: none;
      }

      & > input {
        border: none;
        padding: 0.5rem 2rem;
        margin: 0 1rem;
        border-radius: 999px;
        background-color: $lightGray;

        &:focus {
          outline: none;
        }
      }
    }
  }

  &__bottom {
    display: flex;
    justify-content: space-evenly;

    &__option {
      cursor: pointer;
      padding: 2rem;
      display: flex;
      align-items: center;
      color: gray;
      margin: 0.5rem;
      font-size: 1.2rem;

      & > h3 {
        margin-left: 1rem;
      }

      &__icon {
        font-size: 2.2rem !important;
      }

      &:hover {
        background-color: $lightGray;
        border-radius: 2rem;
      }
    }
  }
}
