@import '../mixins';
@import '../variables';

.sidebar {
  overflow-y: hidden;
  padding: 1rem 0rem;
  flex: 0.4;
  position: fixed;
  height: 100vh;
  left: 0;
  width: 36rem;

  &__line {
    margin-left: 1.5rem;
    border: none;
    border-bottom: 1px solid rgba($black, 0.2);
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  &__shortcut__text {
    padding-left: 1.5rem;
    font-size: 1.7rem;
    color: #65676b;
    margin-bottom: 1rem;
  }

  &__footer {
    padding-left: 1.5rem;
    font-size: 1.3rem;
    color: #65676b;
    position: absolute;
    bottom: 7rem;
    width: 100%;
    & > p {
      & > span {
        cursor: pointer;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
