@import '../mixins';
@import '../variables';

.sidebarrow {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 1rem;

  &:hover {
    border-radius: 1rem;
    background-color: lightgray;
  }

  & > h4 {
    margin-left: 2rem;
    font-weight: 600;
    font-size: 1.5rem;
  }

  &__Icon {
    color: $blue;
    font-size: 3rem !important;
  }
}
