@import '../mixins';
@import '../variables';

.sidebarrow {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 1rem;
  padding-left: 0.5rem;
  margin-left: 0.8rem;
  border-radius: 1rem;
  padding-bottom: 0.8rem;
  transition: 0.1s ease-in-out;

  &:hover {
    background-color: lighten(#d8dadf, 4);
  }

  & > h4 {
    margin-left: 1rem;
    font-weight: 500;
    font-size: 1.5rem;
    color: #050505;
    font-family: 'Segoe UI';
  }

  &__Icon__container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d8dadf;
    height: 3.5rem;
    max-height: 3.5rem;
    max-width: 3.5rem;
    width: 3.5rem;
    border-radius: 50%;
  }

  &__Icon {
    color: #3f4246;
    font-size: 3rem !important;
  }

  &__image {
    max-height: 3.5rem;

    &__shortcut {
      border-radius: 0.5rem;
      max-width: 3.8rem;
    }
  }
}
