@import '../mixins';
@import '../variables';

.signUp {
  max-height: 50rem;
  box-shadow: $box-shadow;
  border-radius: 0.6rem;
  min-width: 40rem;
  max-width: 43rem;
  position: absolute;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  top: 30%;
  left: 40%;
  z-index: 2;

  &__form__container {
    padding: 0 2rem 2rem 2rem;
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__name {
      display: flex;
      align-items: center;
      margin-bottom: 1.5rem;
      justify-content: center;
      width: 100%;
    }

    &__input__first {
      margin-right: 1rem;
    }

    &__input__email {
      width: 100%;
      margin-bottom: 1rem;
    }

    &__input__password {
      width: 100%;
      margin-bottom: 1rem;
    }

    &__input {
      border: 1px solid #ccd0d5;
      color: rgb(28, 30, 33);
      background-color: #f5f6f7;
      padding: 1rem;
      border-radius: 0.4rem;
      font-size: 1.4rem;

      &:focus {
        outline: none;
      }
    }
  }

  &__line {
    border: none;
    border-bottom: 1px solid #1c1e21;
    width: 100%;
    margin-bottom: 2rem;
    opacity: 0.3;
  }

  &__header {
    padding: 1rem 0 0 2rem;
    align-self: flex-start;
    margin-bottom: 1rem;
    width: 100%;

    &__close {
      cursor: pointer;
      color: #1c1e21;
      font-size: 2.5rem !important;
      position: absolute;
      right: 1rem;
      top: 1rem;
    }

    & > h3 {
      color: #1c1e21;
      font-size: 3.2rem;
      margin-bottom: 0.2rem;
    }

    & > p {
      color: #606770;
      font-size: 1.5rem;
    }
  }

  &__form__birthday {
    width: 100%;
    margin-bottom: 1.5rem;

    &__text {
      display: flex;
      align-items: center;
      color: #606770;
      font-size: 1.2rem;
      margin-bottom: 0.5rem;

      &__icon {
        cursor: pointer;
        margin-left: 0.5rem;
        font-size: 1.4rem !important;
        transform: translateY(0.1rem);
      }
    }

    &__select__container {
      display: flex;
      align-items: center;
      width: 100%;
    }

    &__select {
      width: 33.3%;
      border: 1px solid #ccd0d5;
      padding: 0.7rem;
      font-size: 1.5rem;
      background-color: #f5f6f7;
      border-radius: 0.4rem;
      color: #1c1e21;

      &:focus {
        outline: none;
      }

      &__month {
        margin-right: 1.5rem;
      }

      &__day {
        margin-right: 1.5rem;
      }
    }
  }

  &__form__gender {
    width: 100%;
    margin-bottom: 1rem;

    &__text {
      display: flex;
      align-items: center;
      color: #606770;
      font-size: 1.2rem;
      margin-bottom: 0.5rem;

      &__icon {
        cursor: pointer;
        margin-left: 0.5rem;
        font-size: 1.4rem !important;
        transform: translateY(0.1rem);
      }
    }

    &__container {
      width: 100%;
      display: flex;
      align-items: center;
    }

    &__option {
      background-color: #f5f6f7;
      color: #1c1e21;
      width: 33.3%;
      border: 1px solid #ccd0d5;
      padding: 0.7rem;
      border-radius: 0.4rem;
      font-size: 1.5rem;
      display: flex;
      align-items: center;
      justify-content: space-between;

      &__female {
        margin-right: 1.5rem;
      }

      &__male {
        margin-right: 1.5rem;
      }
    }
  }
}
