@import '../mixins';
@import '../variables';

.signupBackDrop {
  background-color: rgba($white, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  display: none;
}

.signupBackDrop__Open {
  display: block !important;
}
