@import '../mixins';
@import '../variables';

.story {
  position: relative;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 11rem;
  height: 20rem;
  box-shadow: $box-shadow;
  border-radius: 1rem;
  margin-right: 0.5rem;
  transition: 0.1s ease-in-out;
  cursor: pointer;
  overflow: hidden;

  &:hover {
    transform: scale(1.01);
    filter: saturate(0.7);
  }

  &__avatar {
    margin: 1rem;
    border: 0.3rem solid $blue;
  }

  &__title {
    position: absolute;
    bottom: 2rem;
    left: 1rem;
    color: $white;
    font-size: 1.3rem;
  }
}
