@import '../mixins';
@import '../variables';

.tip {
  background-color: rgba($black, 0.7);
  border-radius: 0.5rem;
  padding: 0.7rem 1rem;
  color: $white;
  position: absolute;
  top: 6.4rem;
  left: 4.3rem;
  display: none;
  opacity: 0;
  transition: 0.3s ease-in-out;
  z-index: 10;

  & > p {
    font-size: 1.2rem;
  }
}
